.mat-dialog-content {
  form {
    .input {
      .mat-form-field {
        width: 100%;
      }
    }

    .container {
      display: flex;
      gap: 10px;
    }

    .image-upload-container {
      span {
        padding-right: 5px;
      }
    }
  }
}
